%section.b-datasets
  %nav
    .dataset
      = link_to 'Все данные', root_path
    .dataset{data: {category: 'local_site'}}
      = link_to 'Муниципальный сайт', root_path
    .dataset{data: {category: 'asset_disclosure'}}
      = link_to 'Финансовые декларации', root_path
    .dataset{data: {category: 'budget'}}
      = link_to 'Бюджет', root_path
