%header
  %h1
    = link_to_unless_current('РД', {controller: 'main', action: 'index'})
  %p
    Рейтинг доступности открытых данных городов в Украине
  .right
    %p.cities_count
      %span= @cities_count
      городов
    %p.links_count
      %span= @links_count
      ссылок
