%article.l-main-index
  %header
    %h1
      Доступность
    %p
      Сайт содержит ссылки и рейтинг общедоступных открытых данных городов Украины

  %section.l-cities
    %nav.b-filter-region
      %button.filter.active
        %span.label
          Все области
      = render @regions

    %section.b-cities
      = render @cities

  %section.l-add-city
    %button
      = link_to 'Добавить город', new_city_path
