%article.l-main-index
  %header
    %h1
      Доступность
    %p
      Сайт содержит ссылки и рейтинг общедоступных открытых данных городов Украины

  %section.l-add-city
    %button
      = link_to 'Добавить город', new_city_path
  %section.l-cities
    %nav.b-filter-region
      %span
        Все области
      %span
        Киевская
      %span
        Донецкая

