%header
  %h1 OCA Rating
  %p= "Рейтинг городов по доступности открытых данных. Для связи:"
  = mail_to('oca.rating@gmail.com').html_safe

%section
  %nav
    %span
      Все области
    %span
      Киевская
    %span
      Донецкая

