%article.l-main-index
  %header
    %h1
      Доступность
    %p
      Рейтинг общедоступности открытых данных городов Украины

  %nav.l-main-menu
    %ul
      %li
        %a{href: '/'}
          Области
      %li
        %a{href: '/'}
          Города


  %section.l-cities
    %nav.b-filter-region
      %button.filter.active
        %span.label
          Все области
      = render @regions

    %section.b-cities
      = render @cities

  %section.l-add-city
    %button
      = link_to 'Добавить город', new_city_path
