.admin.admin-index {
  padding: 0px 8.3% 0px 8.3%;
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";

  header {
    display: flex;
    align-items: center;

    h3 {
      margin-right: 40px;
    }
  }
}
