@import "values";
@import "global";

.b-cities {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0px 20px 0px;
  width: 100%;
}

.b-cities .b-city {
  padding: 19px 0px 19px 25px;
  margin: 3px 0px 21px 0px;
  background-color: #ffffff;
  background: -webkit-linear-gradient(left, rgba(255,255,255,0), #ffffff 75%);
  border-radius: 4px;

  &.short {
    .categories_detail {
      display: none;
    }
  }

  &:hover {
    background-color: white;
    box-shadow: 0px 1px 3px rgba(#444, 0.15);

    .dot.true{
      width: 100%;
      height: 25px;
      color: rgba(#fff, 1);
      border-radius: 5%;
      padding: 0px 0px 0px 4px;
      text-shadow: 1px 1px 1px $link-color;
    }
  }

  > div {
    margin-right: 9px;
  }

  .rating {
    width: 20px;
    font-weight: bold;
    margin-right: 16px;
    position: relative;
    font-size: 15px;
    color: #444;
    background-color: #eee;
    text-align: center;
    border-radius: 50px;
    padding: 3px 2px;
    position: relative;
    left: -25px;
    box-shadow: 0px 1px 3px 0px #bbb;
  }

  .title {
    margin-right: 35px;
    width: 229px;
    text-align: right;
    font-size: 16px;
    color: rgba(#444, 0.5);

    a {
      font-size: 1.2em;
      color: rgba($link-color, 1);
      border-bottom: 1px dashed rgba(darken($link-color, 20%), 0.15);
    }
  }

  .top {
    display: flex;
    align-items: center;
  }

  .categories {
    display: flex;
    align-items: center;
    > div {
      margin-right: 9px;
    }
  }

  .flex {
    flex: 1;
  }
}

