%h1 Important Links Info
%p
  Каталог «Яндекса» составлен и обновляется вручную. Редакторы беспристрастно отбирают сайты, составляют их описания, делают скриншоты и следят за тем, чтобы информация была актуальной. Новая версия каталога помогает искать интересные сайты и предлагает информацию по теме — картинки, новости и видеоролики.
  Источник: http://www.artlebedev.ru/everything/yandex/catalog6/
