.b-city-admin
  .title
    = link_to city.uk_title, edit_city_path(city)
  .local_site_url
    = link_to link_decorator(city.site_url), city.site_url
  .asset_disclosure_url
    = link_to link_decorator(city.asset_disclosure_url), city.asset_disclosure_url
  .budget_url
    = link_to link_decorator(city.budget_url), city.budget_url
