.b-city
  .title
    = link_to city.uk_title, city_path(city)
  .site_link
    .dot{title: 'Муниципальный сайт', class: "#{city.link?}"}= '10'
  .street_reestr
    .dot.false{title: 'Реестр улиц'}
  .rating
    = CityRating.calculate city
