= render partial: 'admin/header'

%article.l-city-new
  %section.l-new-city-form
    %header
      %h2
        Редактировать город
      .actions
        %p
          = link_to 'Destroy',  @city,  method: :delete, data: { confirm: 'Are you sure?' }
  = render 'cities/form'
