@import "values";
@import url(http://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Caption);

a {
  text-decoration: none;
  color: inherit;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;

  &.passive {
    opacity: 0.25;
  }

  &.true {
    width: 14px;
    height: 14px;
    background: $dot-background;
    color: rgba(#ffffff,0);
    border: 1px rgba($dot-background, 0.5) solid;
  }

  &.false {
    width: 14px;
    height: 14px;
    border: 1px rgba(darkgray, 0.5) solid;
  }

  &.nil {
    width: 14px;
    height: 14px;
    border: 1px white solid;
  }
}

h1, h2 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: normal;
  color: #444;
}

p, span, a {
  font-family: 'PT Sans', sans-serif;
}
