//main
$main-color: #e6e069;

//admin
$header-color: darken($main-color, 50);
$text-color: lighten($main-color, 25);
$active-color: darken($main-color, 30);
$active-background: lighten($main-color, 25);
$box-background: lighten($main-color, 17);
$hover-background: lighten($header-color, 10);

$dot-background: #7DCFB6;
$link-color:#184F3F;

.pretty-button {
  display: inline-block;
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #ddd;
  border-radius: 25px;
  cursor: pointer;
  white-space: nowrap;
  box-shadow: 0px 2px 4px -2px #6a6a6a;

  position: relative;
  z-index: 1;
  padding: 0.5em 1.2em;
  font-size: 1em;

  background: linear-gradient(to bottom, rgba(254,254,254,1) 0%,rgba(239,239,239,1) 100%);
}

