@import "values";

.l-admin-header {
  padding: 0px 8.3%;
  background-color: $header-color;
  color: $text-color;
  display: flex;
  align-items: center;
  h2 {
    margin: 0 0;
    font-size: 1.5em;
  }

  ul {
    display: flex;
    margin: 0 0;
    li {
      padding: 15px 0px;
      cursor: pointer;
      a {
        color: inherit;
        text-decoration: none;
        padding: 0px 11px;
      }
      &:hover {
        background-color: $hover-background;
      }
      &.active {
        padding: 15px 11px;
        background-color: $active-background;
        color: $active-color;
        cursor: default;
      }
    }
  }
}