@import "values";

.l-city-show {
  margin: 0 8.3%;
  header {
    h1 {
      margin-top: 0px;
      padding-top: 42px;
    }
  }
  .l-city {
    margin-top: 70px;
    display: flex;
    padding-left: 39px;

    h1 {
      margin: 0 0;
    }

    .city-info {
      margin-left: 56px;
    }

    .logo {
      padding-top: 4px;
    }

    .l-city-rating {
      margin-top: 40px;
    }
  }

  .l-city-rating {
    margin-top: 29px;
    .row {
      display: flex;
      align-items: center;
      margin-bottom: 24px;

      div:not(:first-child) {
        margin-right: 10px;
      }
      .name {
        font-weight: bold;
        width: 210px;
      }
    }
  }
}

.l-city-new {
  display: flex;
  flex-direction: column;
  margin: 0 8.3%;
  header {
    margin: 34px 16px;
    margin-bottom: 16px;
    h2 {
      margin: 0 0;
    }
  }
}

.l-cities-index {
  padding: 0 8.3%;

  header {
    display: flex;
    align-items: center;
    margin-top: 53px;
    margin-bottom: 48px;
    h1 {
      margin: 0px 0px;
    }
  }

  .new-city, .export-city {
    margin-left: 56px;
    button {
      @extend .pretty-button;
      a {
        text-decoration: none;
      }
    }
  }

  .b-cities {
    .b-city:nth-child(2n) {
      background-color: rgba(#eee,0.15);
    }
  }
}

.l-cities-edit {
  padding: 0 8.3%;

}


.l-form {
  width: 600px;
}

.b-city-form {
  display: flex;
  flex-direction: column;
  padding: 5px 22px 7px 18px;
  background-color: rgba(#ffff00, 0.20);

  > div {
    margin-bottom: 17px;
  }

  .label {
    font-size: 1em;
    line-height: 1.8;
  }

  .uk-title input {
    outline: none;
    border: none;
    box-shadow: inset 0 3px 3px -2px #d4d4d4, 0 0 0 1px #cbcbcb;
    width: 95%;
    padding: .2em .4em;
    font-size: 200%;
    height: 1.3em;
    font-weight: bold;
  }

  .ru-title input,
  .en-title input,
  .site_link input,
  .asset_disclosure_link input,
  .budget_url input {
    outline: none;
    border: none;
    box-shadow: inset 0 3px 3px -2px #d4d4d4, 0 0 0 1px #cbcbcb;
    width: 97%;
    padding: .4em .5em;
    font-size: 105%;
    height: 1.3em;
  }
}
