.l-city-new {
  margin: 0 8.3%;

  header {
    h2 {
      margin: 0 0;
    }
  }

  .l-new-city-form form {
    margin: 0px 0px;
    padding: 0px 0px;
    background-color: #eee;
    width: 500px;
    display: flex;
    flex-direction: column;
  }
}
