a {
  text-decoration: none;
  color: inherit;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;

  &.true {
    background: #E7E271;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
  }

  &.false {
    width: 14px;
    height: 14px;
    border: 1px rgba(darkgray, 0.5) solid;
  }
}
