%header.global-header
  %h1
    .dot.false
    .dot.true
    = link_to_unless_current(t('application.header.app_name'), {controller: 'main', action: 'index'})
  %p
    Прямые ссылки открытых данных городов Украины
  .right
