.municipal-sites {

}

.municipal-sites.index {

  .sites-info {
    text-align: center;
    padding: 52px 8.3% 26px 8.3%;
    font-weight: bold;
  }

  .sites {
    padding: 0px 8.3% 0px 8.3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .site {
    .uk_title {
      padding: 0px 0px 6px 0px;

      a {
        border-bottom: 1px solid #bbb;
      }
    }
    .screenshot {
      box-shadow: 0px 2px 7px #aaa;
    }
    .url {
      font-size: 10px;
    }
  }

  .site:not(:last-child) {
    padding: 0px 21px 42px 0px;
  }
}


