<!DOCTYPE html>
<html>
<head>
  <title>РД — рейтинг открытости данных</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--%= favicon_link_tag 'another_image.ico' %-->
</head>
<body>

<%= yield %>

</body>
</html>
